@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geologica', sans-serif;
}


body {
    background-color: #eeeee6;
}


#menu{
    background-color: #1b1b1b;
}

#menu ul {
    margin-left: 27%;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #d9c57a;
    padding: 20px;
    display: inline-block;
    justify-content: flex-end;
    align-content:flex-end;
    text-decoration: none;
    display: inline-block;
}

#menu ul li a:hover {
    background-color: #d9c57a;
    color: #1b1b1b;
}


.logo{
    position: absolute;
    margin-top: 3px;
    margin-left: 10px;
}

.intro {
    display: flex;
    flex-wrap: wrap;
}

.texto-intro, .carrossel {
    margin: 50px;
}

.texto-intro{
    min-width: 400px;
    max-width: 500px;
}


.titulo1 {
    color: #1b1b1b;
    font-size: 42px;
    text-align:left;
    letter-spacing: -1px;
}

.texto1 {
    color: #1b1b1b;
    margin-top: 7px;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 500;
}

.divisao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.a_s, .i_a, .c_e {
    flex-basis: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.a_s img, .i_a img, .c_e img {
    margin: 10px;
}

footer {
    background-color: #1b1b1b;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.logo-footer img{
    margin-left: 10%;
    margin-top: 4%;
}

.logo-footer p {
    margin: 1% 0 1% 10%;
    font-size: 22px;
    font-weight: 600;
    
}

.logo-footer p {
    color: #d9c57a;
}

.redes {
    margin-left: 10%;
    display: flex;
}
.redes a {
    margin: 0.5%;
    margin-bottom: 30px;
}

.redes a:hover {
    transition: background .4s;
    background-color: #d9c57a;
}

.contato {
    margin-left: 8%;
    margin: 2%;
}

.contato ul {
    margin-left: 8%;
    list-style: none;
}
.contato li {
    margin: 1.5%;
}

.contato a {
    color: #d9c57a;
    font-size: 20px;
}

.sobre {
    margin-left: 8%;
    margin: 2%;
}

.sobre ul {
    margin-left: 8%;
    list-style: none;
}
.sobre li {
    margin: 1.5%;
}

.sobre a {
    color: #d9c57a;
    text-decoration: none;
    font-size: 26px;
}
.sobre a:hover {
    transition: background .4s;
    color: #FFF;
}